/*
 * Created by Ryougi(りょうぎ) on Dec. 31, 2015
 * First edited by Ryougi(りょうぎ) on Dec. 31, 2015
 * Corresponding author: Ryougi
 * Email: xiaoyixiaoyi1009@gmail.com
 * 
 */

html, body, div, ul, li {padding: 0; margin: 0; border: none; font: 14px/1 Helvetica,Arial,sans-serif,"Microsoft YaHe","Sim sun"; list-style: none;}
.Ryougi_slider_container {width: 100%; overflow: hidden; position: relative;}
#Ryougi_slider {width: 700%; margin-left: 0%; transition:margin-left .5s; -moz-transition:margin-left .5s; -webkit-transition:margin-left .5s; -o-transition:margin-left .5s;}
.Ryougi_slider_pre, .Ryougi_slider_next {width: 15%; height: 100%; top: 0; display: block; position: absolute; cursor: pointer; content: '';}
.Ryougi_slider_pre {left: 0;}
.Ryougi_slider_next {right: 0;}
.Ryougi_slider_item {width: calc(100% / 7); float: left;}
.Ryougi_slider_pre:hover {background: url(../img/ic_navigate_before_white_48dp.png) no-repeat center; background-size: 80%;}
.Ryougi_slider_next:hover {background: url(../img/ic_navigate_next_white_48dp.png) no-repeat center; background-size: 80%;} 
#Ryougi_slider_item_a {background: url(../img/Kara.no.Kyoukai.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_b {background: url(../img/yukong.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_c {background: url(../img/fate.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_d {background: url(../img/AngelBeats.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_e {background: url(../img/yande.re.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_f {background: url(../img/san.jpg) no-repeat; background-size: 100%;}
#Ryougi_slider_item_g {background: url(../img/youkuri.jpg) no-repeat; background-size: 100%;}
.Ryougi_slider_bar {position: absolute; bottom: 0; width: 100%; text-align: center; background: rgba(0,0,0,0.5);}
.Ryougi_slider_bar > li {display: inline-block; vertical-align: top; cursor: pointer; height: 6px; padding: 9px 0; margin: 0 2px;}
.Ryougi_slider_bar > li > a {display: block; width: 10px; height: 6px; background-color: #fff; border-radius: 5px; transition: 0.2s;}
.Ryougi_slider_bar > li.on a, .Ryougi_slider_bar > li.on:hover a {width: 30px; background-color: #2196F3;}